SECRET_KEY=your-secret-key-here
# С DEBUG=False приложение будет работать в режиме продакшен, но джанго не будет
# обслуживать статические файлы. Для разработки рекомендуется использовать DEBUG=True, и только при настройке nginx например
# DEBUG = False
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DB_ENGINE=django.db.backends.postgresql
DB_NAME=askme
DB_USER=askme
DB_PASSWORD=change-me
# Для запуска через `python manage.py runserver` оставьте localhost.
# Для запуска внутри docker-контейнера web укажите имя сервиса БД: DB_HOST=db
DB_HOST=localhost
DB_PORT=5432
