{% load static %}

<div class="answer-item mb-3">
    <div class="card-body p-4">

        <div class="d-flex gap-3">
            <div class="text-center">
                <button class="btn btn-outline-light btn-sm">▲</button>
                <div class="fw-bold my-2 text-white">5</div>
                <button class="btn btn-outline-light btn-sm">▼</button>
            </div>

            <img title = "Gris" src="{% static 'img/avatar-default.jpg' %}" class="rounded-circle" width="40" height="40" alt="avatar">

            <div class="flex-grow-1">

                <div class="d-flex align-items-center gap-2 mb-2">
                    <span class="badge text-bg-success">Одобрено</span>
                </div>
                <p class="text-white-50 mb-2">
                    Ответил 2 часа назад <strong class="text-white">Gris</strong>
                </p>
                <p class="mb-0 text-white">First of all, you need to understand...</p>
            </div>

        </div>

    </div>
</div>