{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <h1 class="h3 fw-bold mb-4">Настройки: Пупкин А Ф</h1>
        <div class="col-12 col-lg-8">
            <div class="card-dark">
                <div class="card-body p-4">
                    <form>
                        <div class="mb-3">
                            <label class="form-label text-white-50">Email</label>
                            <input type="email"
                            class="form-control bg-dark text-white border-secondary"
                            required minlength="5" maxlength="40"
                            placeholder="you@example.com" 
                            value="pupkin_af@mail.ru">
                        </div>

                        <div class="mb-3">
                            <label class="form-label text-white-50">Имя пользователя</label>
                            <input type="text"
                                class="form-control bg-dark text-white border-secondary"
                                required minlength="3" maxlength="20" 
                                pattern="[A-Za-z0-9_]+" 
                                value="pupkin_af">
                        </div>

                        <div class="mb-3">
                            <label class="form-label text-white-50">Пароль</label>
                            <input type="password"
                               class="form-control bg-dark text-white border-secondary"
                               required minlength="5" maxlength="100"
                               placeholder="••••••••">
                        </div>

                        <div class="mb-3">
                            <label class="form-label text-white-50">Аватар</label>
                            <input type="file" class="form-control bg-dark text-white border-secondary" accept="image/*">
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}